@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap'); /* lien pour importer les polices via Google font */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap'); /* lien pour importer les polices via Google font */

/*
Polices
Logo et titres: Shrikhand
Texte: Roboto

Violet
#9356DC

Rose
#FF79DA

Vert
#99E2D0

Gris
#F2F2F2

Gris2
#E6E6E6

Gris3
#CCCCCC
*/

html
{
	scroll-behavior: smooth; /* ajoute un effet d'ascenseur lors du clic sur un bouton qui renvoit vers une section de la page */
}

body
{
	font-family: 'Roboto', sans-serif; /* utilisation de la police roboto pour tous les textes de la page */
	margin: auto; /* pour centre la page */
}

h1, h2
{
	font-family: 'Shrikhand', cursive; /* utilisation de la police shrikhand pour les titres */
}

ul
{
	list-style-type: none; /* pour enlever les puces devant les listes */
	padding: 0; /* supprimer le padding naturel des listes */
}

a
{
	text-decoration: none; /* enlever le soulignage des liens */
	color: black; /* enlever la couleur bleue naturelle des liens en la remplaçant par du noir */
}

img
{
	object-fit: cover; /* pour que les images s'ajustent automatiquement dans le cadre dans lequel elles sont placées */
}

header
{
	display: flex;
	flex-direction: column; /* utilisation du flex pour positionner les 3 éléments du header en colonnes */
}

#logo
{
	width: 150px; /* taille du logo */
	margin: auto; /* pour centrer le logo sur le milieu de l'écran */
	margin-top: 15px;
	margin-bottom: 15px; /* ajout d'un espace au dessus et en dessous du logo */
}

.location
{
	display: flex;
	align-items: baseline; /* mettre l'icône et le texte sur la même ligne */
	justify-content: center; /* pour centrer la partie localisation */
	background-color: #E6E6E6; /* ajout du fond gris */
	padding: 3px;
	border-top: 3px solid #CCCCCC; /* ajout de la bordure en haut du cadre un peu plus foncée que le cadre */
	font-size: 15px;
	font-weight: bold;
}

.location i
{
	margin-right: 15px; /* séparation de l'icône et du texte */
}

.info
{
	width: 100%;
	display: flex;
	flex-direction: column; /* flex pour aligner les éléments en colonnes */
	justify-content: center;
	background-color: #F2F2F2; /* couleur de fond de la partie info */
	padding-top: 15px;
	padding-bottom: 50px;
}

.info h1
{
	text-align: center; /* pour centrer le titre */
	font-weight: normal;
	font-size: 25px;
	margin: 25px 30px 0 30px;
	line-height: 30px; /* réduire un peu l'écart entre les lignes du titre */
}

.info p
{
	text-align: center; /* pour centre le paragraphe */
	font-size: 18px;
	margin: 15px 40px 30px 40px;
}

form
{
	margin: auto;
}

button
{
	background: linear-gradient(#FF79DA, #9356DC); /* couleur de fond du bouton avec linear-gradient pour un dégradé entre deux couleurs */
	padding: 14px 20px 14px 20px;
	border-radius: 45px / 45px;
	border: none; /* suppression de la bordure naturelle du bouton */
	box-shadow: 2px 5px 10px #CCCCCC; /* ajout d'une ombre au bouton */
	color: white;
	font-weight: bold;
}

button:hover /* changement de la couleur au survol du bouton et de la souris en pointeur */
{
	background: linear-gradient(#FF66D4, #8541D8);
	cursor: pointer;
}

button:active /* changement de la couleur du bouton lors du clic pour que le visiteur est la confirmation de son clic */
{
	background: linear-gradient(#FF79DA, #9356DC);
}

.operate /* attribution de marges droite/gauche à la partie fonctionnement */
{
	margin: 0 20px 0 20px;
}

.operate h2
{
	font-weight: normal;
	font-size: 25px;
}

.operate ul
{
	padding-left: 5px;
}

.operate li /* configuration du cadre des listes, ajout de la couleur de fond et définition de la taille */
{
	background-color: #F2F2F2;
	padding: 30px 50px 30px 50px;
	margin-bottom: 30px;
	border-radius: 25px;
	box-shadow: 2px 5px 10px #CCCCCC;
	font-weight: bold;
	font-size: 17px;
	padding-left: 0;
}

.operate i /* définition de la couleur et de la taille des icônes, margin gauche/droite pour un décalage avec le texte et la bordure */
{
	color: gray;
	font-size: 20px;
	margin-left: 30px;
	margin-right: 30px;
}

#phone /* ajustement de la taille de l'icône du téléphone */
{
	font-size: 25px;
}

.operate span /* ajout d'un fond violet rond aux chiffres devant les listes,
margin-left négatif pour les décaler sur la gauche et qu'ils soient sur la bordure du cadre */
{
	font-weight: normal;
	color: white;
	background-color: #9356DC;
	border-radius: 100%;
	padding: 5px 10px 5px 10px;
	margin-left: -12px;
}

.operate li:hover /* changer la couleur de fond des liste au survol et faire apparaître la souris en pointeur */
{
	background-color: #F1EAFB;
	cursor: pointer;
}

.operate li:hover .fas /* pour que les icônes changent de couleur lors du survol des listes */
{
	color: #9356DC;
}

#restaurant /* ajout du cadre gris à la section, mise en flex pour l'apparition en colonnes des cadres */
{
	background-color: #F2F2F2;
	display: flex;
	flex-direction: column;
	margin-top: 70px;
	padding: 25px 20px 50px 20px;
}

#restaurant h2
{
	font-weight: normal;
	font-size: 30px;
}

.frame_restaurant /* définition des cadres contenant les images, noms et quartier des resto et bouton de favori */
{
	background-color: white;
	border-radius: 20px;
	width: 100%;
	height: 300px;
	margin-bottom: 25px;
	box-shadow: 2px 5px 10px #CCCCCC;
	display: flex;
	flex-direction: column;
}

.frame_restaurant_img /* définition de la taille de l'image dans le cadre et border-radius en haut à gauche et droite pour coller à celui du cadre */
{
	width: 100%;
	height: 200px;
	border-radius: 20px 20px 0 0;
}

.text_restaurant /* display en flex afin d'écarter le nom + quartier du bouton de favori */
{
	display: flex;
	justify-content: space-between;
	margin: 5px 0 0 15px;
}

.text_restaurant h3
{
	font-weight: normal;
	font-size: 20px;
	padding: 0;
	margin: 15px 0 0 0;
}

.text_restaurant p
{
	font-size: 18px;
	padding: 0;
	margin: 5px 0 0 0;
}

.heart
{
	font-size: 30px;
	color: gray;
	margin-top: 30px;
	margin-right: 30px;
}

.heart:before /* ajout de l'icone de coeur vide */
{
	font-family: "Font Awesome 5 Free";
	content: "\f004";
}

.heart:hover /* remplissage du coeur lors du survol */
{
	cursor: pointer; /* transforme la souris en pointeur lors du survol */
	font-weight: 900; /* pour que l'icône de coeur passe de sa version vide à sa version remplie */
	background: linear-gradient(#FF79DA, #9356DC);
	-webkit-background-clip: text;
	-webkit-text-fill-color:  transparent;
}

footer /* ajout du cadre pour le footer et passage des textes à l'intérieur en blanc */
{
	background-color: #333333;
	padding: 22px 30px 10px 30px;
	color: white;
}

footer a /* passer le texte des liens du footer en blanc */
{
	color: white;
}

footer h1
{
	font-size: 20px;
	font-weight: normal;
	margin: 0;
}

footer li /* padding en bas pour espacer les listes */
{
	padding-bottom: 10px;
}

#utensils /* padding à droite pour séparer l'icône du texte */
{
	padding-right: 17px;
}

#handshake /* padding à droite pour séparer l'icône du texte, transform pour tourner l'icône et padding left pour la faire remonter */
{
	padding-right: 10px;
	transform: rotate(-45deg);
	padding-left: 10px;
}

footer li:nth-child(2) /* décalage de la 2ème ligne du footer sur la gauche pour qu'elle s'aligne avec les autres */
{
	margin-left: -12px;
}

#banner_menu /* taille et largeur de la bannière */
{
	height: 300px;
	width: 100%;
}

#return_to_index /* taille et placement du bouton de retour sur l'index */
{
	font-size: 20px;
	margin: 18px 0 0 20px;
}

#header_menu /* le display flex est déjà ajouté par les propriétés appliquées sur les header, changement de la direction en ligne
pour pouvoir mettre le logo et le bouton sur une même ligne, le width 100% de la bannière et le flex wrap permettent de mettre la
bannière en dessous du logo et du bouton 
Une position relative et un z-index permettent de s'assurer que la bannière passera en dessous de la section */
{
	flex-direction: row;
	flex-wrap: wrap;
	position: relative;
	z-index: 1;
}

#menu /* ajout du cadre et du fond gris pour la section contenant les menus, le margin top négatif permet de faire déborder la section
sur la bannière et la position relative avec le z-index supérieur à celui du header permet de faire passer la bannière en dessous de la section */
{
	background-color: #F2F2F2;
	border-radius: 40px 40px 0 0;
	margin-top: -60px;
	padding: 0 25px 100px 25px;
	position: relative;
	z-index: 2;
	display: flex;
	flex-direction: column;
}

.menu_head /* display flex couplé au space-between afin que le titre et le bouton de favori soit de part et d'autre du cadre */
{
	display: flex;
	justify-content: space-between;
	padding: 15px 0 15px 0;
}

.menu_head h2
{
	font-size: 28px;
	font-weight: normal;
}

.menu_head .heart
{
	margin-top: 27px;
	margin-right: 25px;
}

.listhead /* text-transform afin de mettre les intitulés des catégories en majuscules, la position relative sert ici à pouvoir ajouter
une pseudo-classe after afin d'ajouter une bordure en dessous du texte qui soit moins longue que le texte */
{
	text-transform: uppercase;
	position: relative;
}

.listhead:after /* la pseudo-classe after permet d'ajouter un bloc invisible auquel on ajoute une bordure afin de donner un soulignage
à la listhead qui soit moins long que le texte qu'elle contient */
{
	content: "";
	display: block;
	position: absolute;
	width: 40px;
	bottom: -10px;
	border-bottom: 4px solid #99E2D0;
}

#menu li:not(.listhead) /* configuration du cadre des listes, la pseudo-classe not permet d'exclure la listhead afin que les changements
apportés ici ne lui soit pas appliqué
overflow hidden pour éviter que l'apparition du cadre vert lors de l'animation ne dépasse des arrondis du cadre  */
{
	background-color: white;
	border-radius: 20px;
	margin: 30px 0 30px 0;
	padding-left: 15px;
	box-shadow: 2px 5px 10px #CCCCCC;
	display: flex;
	overflow: hidden;
	cursor: pointer;
}

.menu_li /* le display flex permet de placer les éléments, le space-between sert à séparer le titre
et le paragraphe du prix pour caler ce dernier sur la droite du cadre
le width à 100% pour que la balise occupe toujours 100% de l'espace disponible, pour que le bloc se réduise progressivement lors de
l'animation de sélection du plat */
{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: 10px 0 15px 0;
	width: 100%;
}

#menu h3 /* le width 100% avec le flex-wrap définit dans la précédente balise permet au titre de rester seul en haut du cadre */
{
	margin: 0;
	padding-bottom: 5px;
	font-size: 20px;
	font-weight: bold;
	width: 100%;
}

#menu p
{
	margin: 0;
}

#menu button
{
	margin: auto;
	padding: 14px 50px 14px 50px;
}

.price /* pour décoler les prix de la bordure */
{
	padding-right: 15px;
}

.animation /* le cadre vert qui apparaît lors de la sélection d'un plat */
{
	background-color: #99E2D0;
	border-radius: 0 20px 20px 0;
	width: 0px; /* width initiale à 0 pour que le cadre ne soit pas visible */
	transition: width 1s; /* ici l'animation consiste simplement à augmenter la width pour faire apparaître le cadre vert */
}

#menu li:not(.listhead):hover .animation /* lorsque le cadre du plat sera survolé la width du cadre vert augmentera pour donner l'effet d'apparition du cadre */
{
	width: 75px;
}

.animation i /* les paramètres de l'icône de vérification présente dans le cadre vert
même couleur que le cadre mais avec un fond blanc qui a un border-radius de 100% pour faire un rond */
{
	color: #99E2D0;
	background-color: white;
	border-radius: 100%;
	padding: 4px;
	margin: 25px 0 0 20px;
	opacity: 0;
	transition: opacity 400ms;
	transition-delay: 650ms;
}

#menu li:not(.listhead):hover .animation i /* passage de l'opacité à 1 pour rendre l'icône complétement visible */
{
	opacity: 1;
}



@media screen and (min-width: 992px) /* media queries pour que l'affichage change sur un écran plus large qu'une tablette */
{
	.operate ul
	{
		display: flex;
	}

	.operate li
	{
		width: 33%;
		margin-right: 30px;
	}

	.operate li:nth-child(3)
	{
		margin-right: unset;
	}

	#restaurant
	{
		margin-top: 50px;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-around;
	}

	#restaurant h2
	{
		width: 100%;
	}

	.frame_restaurant
	{
		width: 45%;
		margin-bottom: 50px;
	}

	footer
	{
		padding-left: 50px;
	}

	footer ul
	{
		display: flex;
		justify-content: space-between;
		padding-right: 100px;
	}

	#menu
	{
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-between;
		padding-bottom: 50px;
	}

	.menu_head
	{
		width: 100%;
	}

	#menu ul
	{
		width: 30%;
	}

	#menu button
	{
		min-width: 15%;
	}
}